$animationMinLength:250;
$animationMaxLength:700;

.welcome--animation{
    position: absolute;
    bottom: 25px;
    right: 25px;
    transform-style: preserve-3d;
    transform:perspective(5000px);
    overflow: hidden;
    min-width:250px;
    min-height: 250px;
    max-height:700px;
    max-width: 700px;
    width:70vw;
    height: 70vw;

    .welcome--earth{
        position:absolute;
        overflow:hidden;
        top: 0;
        left: 0;
        transform:translate3d(0,0,0) perspective(5000px);
        transform-style:preserve-3d;
        min-width: 225px;
        min-height: 225px;
        max-height: 675px;
        max-width: 675px;
        width: 55vw;
        height: 55vw;
    }
}