@font-face {
	font-family: "Crayon";
	src: url("../font/crayon_1-1.ttf");
}

.header{
    font-family:"Crayon";
    height: 15vh;
    font-size: 36px;
    color: #ffffff;
    background:#000000;
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 6px 0px;
    z-index:999;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: middle;
    margin: auto 100% auto 0;
}