// @import '~antd/dist/antd.css';

.item--card{
    &__anchor{
        text-decoration: none;
        color: black;
        width: 300px;
        display: block;
        height: min-content;
    }

    &__img{
        height: 200px;
        object-fit: contain;
    }
}

