.welcome1{
    height: 85vh;
    width: 100vw;
    background-color: #000000;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 100vh
}

.icon{
    z-index: 1000;
    width: 30vh;
    height: 30vh;
}